* {
    margin: 0px;
    padding: 0px;
}


/* background - color */

body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
}

.header {
    background-color: #F1F1F1;
    position: relative;
}

.img-welcome {
    border-radius: 50%;
    padding: 2%;
}

.welcome {
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.container-fluid {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid brown;
}

.menu .item {
    display: inline;
    position: relative;
}

.menu .item a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu .item a:hover {
    color: yellow;
}

.content {
    padding: 20px 0;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: white;
}